<h1>All the recipes</h1>
<p>This is the recipes.index page</p>

<div class="flex flex-wrap">
  {{ collection:recipes }}
  <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
    <img class="w-full h-48 object-cover" src="https://via.placeholder.com/400x300" alt="Recipe Image">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ article_title }}</div>
      <p class="text-gray-700 text-base mb-2">{{ cuisines }}{{ title }}{{ /cuisines }} | {{ difficulty.get('label') }}</p>
      <div class="flex mb-4">
        <svg class="w-4 h-4 fill-current text-yellow-400 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.266L3.654 16.53l1.096-6.408L.364 7.77l6.42-.93L10 1.865l3.216 5.975 6.42.93-4.386 3.352 1.096 6.408L10 12.266z"/></svg>
        <svg class="w-4 h-4 fill-current text-yellow-400 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.266L3.654 16.53l1.096-6.408L.364 7.77l6.42-.93L10 1.865l3.216 5.975 6.42.93-4.386 3.352 1.096 6.408L10 12.266z"/></svg>
        <svg class="w-4 h-4 fill-current text-yellow-400 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.266L3.654 16.53l1.096-6.408L.364 7.77l6.42-.93L10 1.865l3.216 5.975 6.42.93-4.386 3.352 1.096 6.408L10 12.266z"/></svg>
        <svg class="w-4 h-4 fill-current text-yellow-400 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.266L3.654 16.53l1.096-6.408L.364 7.77l6.42-.93L10 1.865l3.216 5.975 6.42.93-4.386 3.352 1.096 6.408L10 12.266z"/></svg>
        <svg class="w-4 h-4 fill-current text-gray-400 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.266L3.654 16.53l1.096-6.408L.364 7.77l6.42-.93L10 1.865l3.216 5.975 6.42.93-4.386 3.352 1.096 6.408L10 12.266z"/></svg>
        <span class="text-gray-700">4.0 (24)</span>
        <span class="ml-2 text-gray-700">24 users favorited this recipe</span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <p class="text-gray-700 text-base">{{ description }}</p>
      </div>
    </div>
  </div>
  {{ /collection:recipes}}
</div>